*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);;
}

.yes{
  text-decoration: line-through;
}

.no{
  color: rgb(29, 9, 244);
}

.form {
  margin: 2rem;
  text-align: center;
}

.clear {
  display: flex;
  margin: 0 55%;
  padding: .4rem 4rem;
  background-color: crimson; 
  color: #fff;
  border-radius: .5rem;
  margin-bottom: 0;
  padding-left: 1.3rem;
  text-align: center;
}

.footer {
  margin-left: 35%;
}